<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '60rem'}" (onHide)="onClose()">
  <ng-template pTemplate="header">
    <div class="d-flex justify-content-center align-items-center">
      <h4>
        <i class="pi pi-history me-2" style="font-size: 2rem"></i>
        Product History
      </h4>
    </div>
  </ng-template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card-body">
          <a class="card-full d-flex justify-content-between">
            <p class="d-flex flex-column align-items-center gap-2">
              <strong>Current Stock</strong>
              {{productHistoryCardData?.current_stock}}
            </p>
            <p class=" d-flex flex-column align-items-center gap-2">
              <strong>Total Purchase</strong>
              {{productHistoryCardData?.total_purchase}}
            </p>
            <p class=" d-flex flex-column align-items-center gap-2">
              <strong>Total Purchase Old Gold</strong>
              {{productHistoryCardData?.total_purchase_old_gold}}
            </p>
            <p class=" d-flex flex-column align-items-center gap-2">
              <strong>Transfer In</strong>
              {{productHistoryCardData?.transfer_in}}
            </p>
            <p class=" d-flex flex-column align-items-center gap-2">
              <strong>Transfer Out</strong>
              {{productHistoryCardData?.transfer_out}}
            </p>
            <div class="go-corner">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <hr>
    <div class="table-container">
      <app-data-table [hasContext]="false" [data]="historyList" [cols]="cols" [totalRecords]="totalRecords"
        [first]="first" [rows]="pageSize" (pageChange)="loadProductHistory($event)">
      </app-data-table>
    </div>
  </div>
</p-dialog>
