<p-dialog header="Print Label" [modal]="true" [(visible)]="visible" [style]="{ width: '70rem' }">

    <div id="print-area">
        <ng-container class="d-flex w-100" *ngFor="let product of products">
            <div class="label border col-md-4 border-1 rounded-3 labelElement" [ngClass]="printType === 'Synthetic coated' ? 'synthetic' : 'butterfly'"  *ngFor="let i of [].constructor(+product.label_count)">
                <div class="content-data">
                    <div *ngIf="formData.show_product_name">{{ product.name }}</div>
                    <div class="details">
                        <div *ngIf="formData.color">Color: {{ product.color }}</div>
                        <div *ngIf="formData.category">Category: {{ product.category }}</div>
                    </div>
                    <div class="details">
                        <div *ngIf="formData.weight">{{ product.weight }} {{product?.unit}}</div>
                        <div *ngIf="formData.brand">Brand: {{ product.brand }}</div>
                    </div>
                    <div class="details">
                        <div *ngIf="formData.designer">Designer: {{ product.designer }}</div>
                        <div *ngIf="formData.size">Size: {{ product.size }}</div>
                    </div>

                    <div *ngIf="formData.purity">Purity: {{ product.purity }}</div>
                </div>
                <div class="empty opacity-0" style="opacity: 0 !important;"><label>test</label></div>
                <div class="barcode">
                    <img
                        [src]="'https://barcode.tec-it.com/barcode.ashx?data=' + product.product_id + '&code=Code128'" />
                </div>
            </div>
        </ng-container>
        <div class="d-flex justify-content-end align-items-end">
            <button type="button" (click)="print()" class="d-print-none">Print</button>
        </div>

    </div>
</p-dialog>