<p-confirmdialog />
<ng-container #container></ng-container>

<section>
    <div class="header-container">
        <h3>Transactions </h3>
        <hr>
        <div class="header-btns">
            <button [routerLink]="['/acc/deleted-transactions']" class="add-btn text-center"><i class="pi pi-trash px-2"></i>Deleted Transactions</button>
        </div>
    </div>
    <div class="filter-container container">
        <app-filter-collapse>
            <form class="container" [formGroup]="filterForm">
                <div class="row">
                    <div class="col-md-12">
                        <app-input-text formControlName="search" placeholder="Global Search" type="text" inputName="Search"></app-input-text>
                    </div>
                     <div class="col-md-6">
                            <app-dropdowns label="transaction" formControlName="transaction_type" [options]="transactionTypes"
                                optionLabel="name" optionValue="id" placeholder="Select a type"></app-dropdowns>
                        </div>
                    <div class="col-md-6">
                            <app-dropdowns label="Customer" formControlName="order__customer" [options]="customers"
                                optionLabel="name" optionValue="id" placeholder="Select a Customer"></app-dropdowns>
                    </div>
                    <div class="col-md-6">
                            <app-input-date formControlName="order__payment_date" inputName="payment date"
                                placeholder="Enter payment date">
                            </app-input-date>
                        </div>
                         <div class="col-md-6">
                            <app-dropdowns label="payment methods" formControlName="order__payment_method"
                                [options]="paymentMethods" optionLabel="name" optionValue="id"
                                placeholder="Select a payment method"></app-dropdowns>
                        </div>
                        <div class="col-md-6">
                            <app-dropdowns label="Status" formControlName="order__status" [options]="paymentStatusOptions"
                                optionLabel="name" optionValue="id" placeholder="Select a Status"></app-dropdowns>
                    </div>
                    <div class="col-md-6">
                            <app-dropdowns label="branch" formControlName="shift__branch" [options]="branches"
                                optionLabel="name" optionValue="id" placeholder="Select a branch"></app-dropdowns>
                        </div>
                </div>
                <div class="btns-group">
                    <button class=" submit-btn" (click)="onSearch()">Search</button>
                </div>
                </form >
        </app-filter-collapse>
    </div>

    <div class="table-container">
        <app-data-table [contextMenuItems]="transactionsMenuItems"
        (rowSelected)="selectedTransaction = $event" [data]="transactions" [cols]="cols" [totalRecords]="totalRecords" [first]="first" [rows]="pageSize"
            (pageChange)="loadTransactions($event)">
        </app-data-table>
    </div>
</section>