<p-confirmdialog />
<ng-container #container></ng-container>

<section>
  <div class="header-container">
    <h3>Transactions </h3>
    <hr>
    <div class="header-btns">
      <button [routerLink]="['/acc/deleted-transactions']" class="add-btn text-center"><i
          class="pi pi-trash px-2"></i>Deleted Transactions</button>
    </div>
  </div>
  <div class="filter-container container">
    <app-filter-collapse>
      <form class="container" [formGroup]="filterForm">
        <div class="row">
          <div class="col-md-12">
            <app-input-text formControlName="search" placeholder="Global Search" type="text"
              inputName="Search"></app-input-text>
          </div>
          <div class="col-md-6">
            <app-dropdowns label="transaction" formControlName="transaction_type" [options]="transactionTypes"
              [showClear]="true" optionLabel="name" optionValue="id" placeholder="Select a type"></app-dropdowns>
          </div>
          <div class="col-md-6">
            <app-dropdowns label="Customer" formControlName="order__customer" [options]="customers" optionLabel="name"
              [showClear]="true" optionValue="id" placeholder="Select a Customer"></app-dropdowns>
          </div>
          <div class="col-md-6">
            <app-input-date formControlName="order__payment_date" inputName="Invoice Date"
              placeholder="Enter Invoice Date" [showClear]="true">
            </app-input-date>
          </div>
          <div class="col-md-6">
            <app-dropdowns label="payment methods" formControlName="order__payment_method" [options]="paymentMethods"
              [showClear]="true" optionLabel="name" optionValue="id"
              placeholder="Select a payment method"></app-dropdowns>
          </div>
          <div class="col-md-6">
            <app-dropdowns label="Status" formControlName="order__status" [options]="paymentStatusOptions"
              [showClear]="true" optionLabel="name" optionValue="id" placeholder="Select a Status"></app-dropdowns>
          </div>
          <div class="col-md-6">
            <app-dropdowns label="branch" formControlName="shift__branch" [options]="branches" optionLabel="name"
              [showClear]="true" optionValue="id" placeholder="Select a branch"></app-dropdowns>
          </div>
        </div>
        <div class="btns-group">
          <button class=" submit-btn" (click)="onSearch()">Search</button>
        </div>
      </form>
    </app-filter-collapse>
  </div>

  <div class="table-container">
    <app-data-table [contextMenuItems]="transactionsMenuItems" (rowSelected)="selectedTransaction = $event"
      [rowsPerPageOptions]="rowsPerPageOptions" [data]="transactions" [cols]="cols" [totalRecords]="totalRecords"
      [first]="first" [rows]="pageSize" (pageChange)="loadTransactions($event)">
      <ng-container table-footer>
        <tr>
          <td *ngFor="let col of cols">
            <ng-container class="fw-bold" [ngSwitch]="col.field">
              <span class="fw-bold" style="font-size:14px" *ngSwitchCase="'reference_number'">Totals</span>
              <span class="fw-bold" style="font-size:14px" *ngSwitchCase="'amount'">{{ totals.amount.toFixed(3)
                }}</span>
              <span class="fw-bold" style="font-size:14px" *ngSwitchCase="'sub_total'">{{ totals.sub_total.toFixed(3)
                }}</span>
              <span class="fw-bold" style="font-size:14px" *ngSwitchCase="'total_paid'">{{ totals.total_paid.toFixed(3)
                }}</span>
              <span class="fw-bold" style="font-size:14px" *ngSwitchCase="'remaining_amount'">{{
                totals.remaining_amount.toFixed(3) }}</span>
              <span class="fw-bold" style="font-size:14px" *ngSwitchCase="'total_weight'">{{
                totals.total_weight.toFixed(3) }}</span>
              <span class="fw-bold" style="font-size:14px" *ngSwitchDefault></span>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </app-data-table>
  </div>
</section>
