.invoice-container {
  font-family: 'Segoe UI', sans-serif;
  background: #fff;

  h2 {
    font-weight: 600;
  }

  table {

    th,
    td {
      vertical-align: middle;
    }

    th {
      background-color: #f8f9fa;
    }
  }

  @media print {
    .d-print-none {
      display: none !important;
    }

    .invoice-container {
      box-shadow: none !important;
      margin: 0;
      padding: 0;
    }

    body {
      background: white;
    }
  }
}

.invoice-header {
  .card {
    transition: all 0.3s ease-in-out;

    .card-title {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 0.9rem;
      color: #444;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    }
  }

  @media print {
    .row {
      display: flex !important;
      flex-wrap: nowrap !important;
      gap: 1rem;
    }

    .col-md-4 {
      flex: 1 1 0;
      max-width: 33.3333% !important;
      width: 33.3333% !important;
    }

    .card {
      box-shadow: none !important;
      border: 1px solid #ccc !important;
    }
    .totals{
      justify-content: end !important;
      display: flex !important;
      flex-wrap: nowrap !important;
      gap: 1rem;
    }
  }
}