<form [formGroup]="registerPosForm">
    <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '30rem'}">
        <ng-template pTemplate="header">
            <div class="d-flex justify-content-center align-items-center">
                <h4><i class="pi pi-wallet me-2" style="font-size: 2rem"></i>Payments</h4>
            </div>
        </ng-template>
        <div class="content d-flex flex-column justify-content-between h-100">
            <div class="form-content">
            <div class="items-center">
                <app-input-text formControlName="amount" placeholder="Amount" type="number"
                    inputName="Amount"></app-input-text>

            </div>
            <div class="items-center mb-4">
                <app-dropdowns label="Payment Method" formControlName="payment_method" [options]="baymentMethods" optionLabel="name"
                    optionValue="id" placeholder="Select a method"></app-dropdowns>
            </div>
        </div>
        <div class="btns">
            <div class="d-flex justify-content-end gap-2">
                <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                <p-button label="Save" (click)="submitForm(registerPosForm)" />
            </div>
        </div>
        </div>
    </p-dialog>
</form>