<section class="form-container">
  <div class="header-container">
    <h3>{{isEditMode ? 'Edit' : 'Add'}} Expense</h3>
    <hr />
  </div>

  <div class="add-form">
    <form [formGroup]="addEditExpenseForm" class="container" (ngSubmit)="onSubmit()">
      <section class="form-section">
        <!-- 🔹 Product Info -->
        <h6 class="section-form-header">Expense Info</h6>
        <div class="container section-form">
          <div class="row">
            <div class="col-md-4">
              <app-dropdowns label="Branch" formControlName="branch" [options]="branches" optionLabel="name"
                [showClear]="true" (ngModelChange)="onBranchChange($event)" optionValue="id"
                placeholder="Select Branch"></app-dropdowns>
            </div>
            <div class="col-md-4">
              <app-dropdowns label="Expense Category" formControlName="category" [options]="expensesCat"
                optionLabel="name" optionValue="id" placeholder="Select Category" [showClear]="true"></app-dropdowns>
            </div>
            <div class="col-md-4">
              <app-dropdowns label="Expense Sub Category" formControlName="sub_category" [options]="subCategories"
                optionLabel="name" optionValue="id" placeholder="Select sub Category"
                [showClear]="true"></app-dropdowns>
            </div>

            <div class="col-md-4">
              <app-dropdowns label="for Invoice no." formControlName="invoice" [options]="minimalBranchTransactions"
                [optionValue]="'invoice_id'" optionLabel="invoice_number" placeholder="Select Invoice"
                [showClear]="true" (ngModelChange)="onInvoiceChange($event)"></app-dropdowns>
            </div>
            <div class="col-md-4">
              <app-dropdowns label="for purchase" formControlName="purchase_order" [options]="minimalBranchPurchases"
                optionLabel="reference_number" optionValue="id" placeholder="Select purchase" [showClear]="true"
                (ngModelChange)="onPurchaseChange($event)"></app-dropdowns>
            </div>
            <div class="col-md-4">
              <app-input-date formControlName="date" inputName="date" placeholder="Enter date">
              </app-input-date>
            </div>
            <div class="col-md-4">
              <app-dropdowns label="Expense User" formControlName="user" [options]="users" optionLabel="username"
                (ngModelChange)="onUserChange($event)" optionValue="id" placeholder="Select User"
                [showClear]="true"></app-dropdowns>
            </div>
            <div class="col-md-4">
              <app-dropdowns label="Expense Supplier" formControlName="supplier" [options]="suppliers"
                (ngModelChange)="onSupplierChange($event)" optionLabel="name" optionValue="id"
                placeholder="Select Supplier" [showClear]="true"></app-dropdowns>
            </div>
            <div class="col-md-4">
              <app-dropdowns label="Expense Customer" formControlName="customer" [options]="customers"
                (ngModelChange)="onCustomerChange($event)" optionLabel="name" optionValue="id"
                placeholder="Select Customer" [showClear]="true"></app-dropdowns>
            </div>
            <div class="col-md-4">
              <app-dropdowns label="Applicable Tax" formControlName="applicable_tax" [options]="taxes"
                optionLabel="rate" optionValue="id" placeholder="Select Tax" [showClear]="true"></app-dropdowns>
            </div>
            <div class="col-md-4">
              <app-input-text formControlName="total_amount" inputName="Total amount" placeholder="Enter Total amount">
              </app-input-text>
            </div>
            <div class="col-md-12">
              <app-input-text formControlName="notes" inputName="Notes" placeholder="Enter Notes">
              </app-input-text>
            </div>
            <div class="col-md-12">
              <label class="form-label">Attach Docs</label>
              <app-upload-input formControlName="attachment" label="Upload Docs"></app-upload-input>
            </div>
          </div>
        </div>
        <!-- 🔹 VAT & Refund Details Included -->
        <div class="container section-form">
          <div class="row">
            <div class="col-md-2">
              <app-check-box formControlName="is_recurring" inputId="is_refund" label="Is Recurring?"></app-check-box>
            </div>
            <!-- 🔹 recurring payment -->
            @if (addEditExpenseForm.get('is_recurring')?.value == true) {
            <div class="col-md-5">
              <app-input-text formControlName="number_of_recurring_payments" inputName="No. of Repetitions"
                placeholder="Enter No. of Repetitions">
              </app-input-text>
            </div>
            <div class="col-md-5">
              <app-input-text formControlName="recurring_interval" inputName="Recurring interval"
                placeholder="Enter recurring interval">
              </app-input-text>
            </div>
            }


          </div>
        </div>

        <!-- 🔹 payment -->
        <h6 class="section-form-header mt-4">Payment</h6>
        <div class="container section-form">
          <div class="row" [formGroupName]="'payment'">
            <div class="col-md-4">
              <app-input-text formControlName="amount" inputName="Amount" placeholder="Enter Amount" type="number">
              </app-input-text>
            </div>
            <div class="col-md-4">
              <app-input-date formControlName="paid_on" inputName="Paid On" placeholder="Enter paid date">
              </app-input-date>
            </div>
            <div class="col-md-4">
              <app-dropdowns label="Payment Method" formControlName="payment_method" [options]="paymentMethods"
                optionLabel="name" optionValue="id" placeholder="Select method" [showClear]="true">
              </app-dropdowns>
            </div>
            <div class="col-md-12">
              <app-input-text formControlName="note" inputName="Payment Note" placeholder="Enter Payment note">
              </app-input-text>
            </div>
          </div>
        </div>
      </section>


      <div class="btns-group">
        <button type="submit" class="my-4 submit-btn" [disabled]="addEditExpenseForm.invalid">
          {{isEditMode? 'Update' : 'Submit'}}
        </button>
      </div>
    </form>
  </div>
</section>
