<p-confirmdialog />

<section>
    <div class="header-container">
        <h3>Tax Rate</h3>
        <hr>
        <div class="header-btns">
            <button [routerLink]="['/setting/tax-rate/add']" class="add-btn text-center"><i class="pi pi-plus  px-2"></i>Add Brand</button>
        </div>
    </div>
    <div class="filter-container container">
        <app-filter-collapse>
            <form class="container" [formGroup]="filterForm">
                <div class="row">
                    <div class="col-md-12">
                        <app-input-text formControlName="search" placeholder="Global Search" type="text" inputName="Search"></app-input-text>
                    </div>
                </div>
                <div class="btns-group">
                    <button class=" submit-btn" (click)="onSearch()">Search</button>
                </div>
                </form >
        </app-filter-collapse>
    </div>

    <div class="table-container">
        <app-data-table [contextMenuItems]="BrandsMenuItems"
        (rowSelected)="selectedProduct = $event" [data]="brands" [cols]="cols" [totalRecords]="totalRecords" [first]="first" [rows]="pageSize"
            (pageChange)="loadBrands($event)">
        </app-data-table>
    </div>
</section>