<section class="form-container">
  <div class="header-container">
    <h3>{{isEditMode ? 'Edit' : 'Add'}} Payment option</h3>
    <hr />
  </div>

  <div class="add-form">
    <form [formGroup]="addEditBrandForm" class="container" (ngSubmit)="onSubmit()">
      <section class="form-section">
        <h6 class="section-form-header">Payment option Info</h6>
        <div class="container section-form">
          <div class="row">

            <div class="col-md-6">
              <app-input-text formControlName="name" inputName="name" [required]="true"
                placeholder="Enter Payment option name">
                @if ((addEditBrandForm.get('name')?.errors?.['required'] &&
                addEditBrandForm.get('name')?.touched)) {
                <div class="text-danger mt-1">
                  <small><i class="text-danger pi pi-times-circle px-2" style="font-size: 0.8rem"></i>Payment option
                    name is required</small>
                </div>
                }
              </app-input-text>
            </div>
            <div class="col-md-6">
              <app-dropdowns label="country" [required]="true" formControlName="country" [options]="country"
                optionLabel="name" optionValue="name" placeholder="Select a country">
              </app-dropdowns>
            </div>
            <div class="col-md-6">
              <app-input-text formControlName="tax_rate" inputName="Payment fees" placeholder="Enter Payment fees">
              </app-input-text>
            </div>
            <div class="col-md-6">
              <app-dropdowns label="account" formControlName="account" [options]="accounts" optionLabel="name"
                optionValue="id" placeholder="Select an account">
              </app-dropdowns>
            </div>
          </div>
        </div>
      </section>

      <div class="btns-group">
        <button type="submit" class="my-4 submit-btn" [disabled]="addEditBrandForm.invalid">{{isEditMode?
          'Update' : 'Submit'}}</button>
      </div>
    </form>
  </div>
</section>