<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="productForm" class="d-flex justify-content-between sales" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <app-input-text formControlName="weight" placeholder="weight" type="text" inputName="weight"></app-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-dropdowns label="purity" formControlName="purity" [options]="purities"
                            optionLabel="name" optionValue="id"
                            placeholder="Select a purity"></app-dropdowns>
                    </div>
                    <div class="col-md-6">
                        <app-input-text formControlName="price" placeholder="price" type="number" inputName="price"></app-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-input-text formControlName="description" placeholder="description" type="text" inputName="description"></app-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-input-text formControlName="tax" placeholder="tax" type="number" inputName="tax"></app-input-text>
                    </div>
                    <div class="col-md-6">
                        <app-input-text formControlName="amount" placeholder="amount" type="number" inputName="amount"></app-input-text>
                    </div>
                    <div class="col-md-6">
                            <label class="form-label"> Attachment <sup class="text-danger">*</sup> </label>
                            <app-upload-input formControlName="attachment" label="Upload Image"></app-upload-input>
                    </div>
                    <div class="btns-group">
                <button type="submit" class="my-4 submit-btn">
                    Add</button>
            </div>
                </div>
                <!-- <div>
                    <label class="opacity-0">btn </label>
                    <p-button [routerLink]="['/inventory/product/add']" size="small" class="add-btn white-icon-btn"
                        [pTooltip]="tooltipContent" tooltipPosition="bottom" icon="pi pi-plus" />
                    <ng-template #tooltipContent>
                        <div class="flex items-center">
                            Add Product
                        </div>
                    </ng-template>
                </div> -->
            </form>
            @if(selectedCurrency){
            <div class="table">
                <div class="mt-5">
                    <div class="container">
                        <app-input-table [data]="purchaseTableData">
                            <ng-template #headerTemplate>
                                <th>Tag No</th>
                                <th>Weight</th>
                                <!-- <th>Item Size</th> -->
                                <th>Purity</th>
                                <th>Description</th>
                                <!-- <th>Stone (1)</th>
                                <th>Stone (2)</th>
                                <th>Stone (3)</th> -->
                                <!-- <th>Vat</th> -->
                                <!-- <th>Gold Price</th> -->
                                <!-- <th>Making Charge</th>
                                <th>Discount</th> -->
                                <!-- <th>Max Discount</th> -->
                                <!-- <th>Metal Value</th> -->
                                <td>Price</td>

                            </ng-template>

                            <ng-template #bodyTemplate let-group let-i="index">
                                <td>{{ group.tag_number }}</td>
                                <td>{{ group.weight }}</td>
                                <!-- <td>{{ group.size }}</td> -->
                                <td>{{ group.purity }}</td>
                                <td>{{ group.description }}</td>
                                <!-- <td>{{ group.stones[0]?.retail_value }}</td>
                                <td>{{ group.stones[1]?.retail_value }}</td>
                                <td>{{ group.stones[2]?.retail_value }}</td> -->
                                <!-- <td>
                                    <app-dropdowns [options]="taxes" optionLabel="rate" optionValue="id"
                                        placeholder="Select Vat" (selectionChange)="onVatChange($event, group)">
                                    </app-dropdowns>
                                </td> -->
                                <!-- <td>{{calcGoldPriceAccordingToPurity(group)}}</td> -->
                                <!-- <td>{{ group.retail_making_charge }}</td>
                                <td>{{ group.discount }}</td> -->
                                <!-- <td>{{ group.max_discount }}</td> -->
                                <!-- <td>{{ (calcMetalValueAccordingToPurity(group)) }}</td> -->
                                <td>{{calcTotalPrice(group)}}</td>

                            </ng-template>
                        </app-input-table>
                        <div class="d-flex justify-content-end w-100">
                            <div style="width: 15%;" class=" bg-secondary-subtle p-2 fw-bold rounded-2">
                                Total: {{ totalPrice }} </div>
                        </div>
                    </div>
                </div>
            </div>
            }@else {

            <div class="container h-100  d-flex justify-content-center align-items-center">
                <h6 class="text-danger">You Need To select customer & Currency first</h6>
            </div> }
        </div>
    </div>
</div>