<p-tabs value="0">
  <p-tablist>
    <span>
      <a [routerLink]="['/dashboard']">
        <i class="pi pi-arrow-circle-left mx-4 h-100 text-center align-content-center" style="font-size: 1.5rem"></i>
      </a>
    </span>
    <p-tab value="0">Business Settings</p-tab>
    <p-tab value="1">Custom Fields</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-business-setting></app-business-setting>
    </p-tabpanel>
    <p-tabpanel value="1">
      <app-custom-fields></app-custom-fields>
    </p-tabpanel>
  </p-tabpanels>

</p-tabs>
