<p-confirmdialog />

<section>
  <div class="header-container">
    <h3>Stock Transfer</h3>
    <hr>
    <div class="header-btns">
      <button [routerLink]="['/inventory/stock-transfer']" class="add-btn text-center"><i
          class="pi pi-plus  px-2"></i>Add Transfer</button>
    </div>
  </div>
  <div class="filter-container container">
    <app-filter-collapse>
      <form class="container" [formGroup]="filterForm">
        <div class="row">
          <div class="col-md-6">
            <app-input-text formControlName="search" placeholder="Global Search" type="text"
              inputName="Search"></app-input-text>
          </div>
          <div class="col-md-6">
            <app-dropdowns formControlName="branch" [options]="branches" optionLabel="name" optionValue="id"
              label="Branch" placeholder="Select Branch"></app-dropdowns>
          </div>
        </div>
        <div class="btns-group">
          <button [disabled]="filterForm.invalid" class=" submit-btn" (click)="onSearch()">Search</button>
        </div>
      </form>
    </app-filter-collapse>
  </div>

  <div class="table-container">
    <app-data-table [contextMenuItems]="contextMenuItems" (rowSelected)="onRowSelected($event)" [data]="transfers"
      [cols]="cols" [totalRecords]="totalRecords" [first]="first" [rows]="pageSize"
      (pageChange)="loadStockTransfer($event)">
    </app-data-table>
  </div>
</section>
