@use "variables" as *;

.header-btns {
  display: flex;
  gap: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  .add-btn {
    padding: 5px 15px;
    outline: none;
    color: $btn-primary-bg;
    border: 1px solid $btn-primary-bg;
    background-color: transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:hover {
      background-color: $btn-primary-bg;
      color: $white;
    }
    &:hover .pi {
      color: $white;
    }
  }

  .add-btn:disabled {
    background-color: $btn-disabled-bg !important;
    border-color: $btn-primary-bg !important;
    color: $text-inverse !important;
    transition: $transition-base;
    padding: 5px 15px;
    border-radius: 15px;
  }
}
.delete-btn {
  padding: 5px 15px;
  outline: none;
  color: rgb(170, 41, 53);
  border: 1px solid rgb(170, 41, 53);
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .pi {
    color: rgb(170, 41, 53);
  }
  &:hover {
    background-color: rgb(170, 41, 53);
    color: $white;
  }
  &:hover .pi {
    color: $white;
  }
}
