@use "variables" as *;

.menu-container {
  background-color: $white;
  border-right: 1px solid $gray-300;
  border-radius: $border-radius;
  overflow-y: auto;
  padding-top: 1rem;
  overflow-y: auto;
  max-height: 80%;
  margin-bottom: 1rem;
  height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 1rem;

  ul.nav {
    li {
      margin-bottom: 0.2rem;

      .nav-link {
        color: $text-secondary;
        padding: 0.6rem 1rem;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: $stone-100;
          color: $stone-700;
        }

        &.active-link {
          background-color: $stone-600;
          font-weight: $font-weight-bold;
          color: $white !important;
          .pi {
            color: $white !important;
          }
        }
      }

      ul li .nav-link {
        padding-left: 2.5rem;
        font-size: 0.9rem;
      }

      .collapse {
        background-color: $gray-100;
        border-left: 3px solid $stone-500;
        margin-top: 0.3rem;
        padding-left: 0.5rem;
        border-radius: $border-radius;
      }
    }
  }
}

.fs-4 {
  font-weight: $font-weight-bold;
  color: $stone-700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.pi {
  font-size: 1rem;
  color: $stone-800;
}
