<p-dialog header="Add Payment" [modal]="true" [(visible)]="visible" [style]="{ width: '70rem' }">
    <div class="row">
        <div class="col-md-4">
            <div class="card-body">
                <a class="card1 d-flex flex-column justify-content-between">
                    <p class=" d-flex flex-column">
                        <strong>Reference Number : </strong>
                        {{paymentData?.reference_number}}
                    </p>
                    <p class=" d-flex flex-column">
                        <strong>Customer : </strong>
                        {{paymentData?.customer}}
                    </p>
                    <div class="go-corner">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <a class="card1 d-flex flex-column justify-content-between">
                    <p class=" d-flex flex-column">
                        <strong>Expected Delivery Date : </strong>
                        {{paymentData?.expected_delivery_date}}
                    </p>
                    <p class=" d-flex flex-column">
                        <strong>Status : </strong>
                        {{paymentData?.status}}
                    </p>
                    <div class="go-corner">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <a class="card1 d-flex flex-column justify-content-between">
                    <p class=" d-flex flex-column">
                        <strong> Amount Due : </strong>
                        {{paymentData?.amount_due}}
                    </p>
                    <div class="go-corner">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <form class="container" [formGroup]="paymentForm">
        <div class="row">
            <div class="col-md-4">
                <app-dropdowns label="payment methods" formControlName="payment_method" [options]="paymentMethods"
                    optionLabel="name" optionValue="id" placeholder="Select a payment method"></app-dropdowns>
            </div>
            <div class="col-md-4">
                <app-input-date formControlName="paid_on" inputName="Paid on" placeholder="Enter date">
                </app-input-date>
            </div>
            <div class="col-md-4">
                <app-input-text formControlName="amount" inputName="Amount" placeholder="Enter Amount">
                </app-input-text>
            </div>
            <div class="col-md-12">
                <app-input-text formControlName="note" inputName="notes" placeholder="Enter notes">
                </app-input-text>
            </div>
            <div class="col-md-12">
                <label class="form-label">Attach Docs </label>
                <app-upload-input formControlName="attachment" label="Upload Docs"></app-upload-input>
            </div>
        </div>
        <div class="btns-group">
            <button class=" submit-btn" (click)="submit()">Submit</button>
        </div>
    </form>
</p-dialog>