@use "variables" as *;

.filter-wrapper {
    background-color: var(--surface-card);
    transition: all 0.3s ease;
  }
  .filter-container{
    background-color: $stone-50 ;
    border-radius: 15px;
    border-top: 5px solid $stone-700;

  }
  // .filter-head{
  //   border-left: 5px solid $stone-700;
  //   border-radius: 5px;
  //   padding: 0 10px;
  // }