@use "variables" as *;

.image-uploader {
  font-family: $font-family-base;

  .controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .upload-label {
    display: inline-block;
    cursor: pointer;
    background-color: $btn-primary-bg;
    color: $text-inverse;
    padding: 0.6rem 1.2rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow-base;
    transition: $transition-base;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    .pi {
      color: $white;
    }
    &:hover {
      background-color: $btn-primary-hover;
      box-shadow: $box-shadow-hover;
    }

    input[type="file"] {
      display: none;
    }

    .upload-button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .reset-btn {
    display: inline-block;
    cursor: pointer;
    background-color: $btn-danger-bg;
    color: $text-inverse;
    padding: 0.6rem 1.2rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow-base;
    transition: $transition-base;
    font-size: $font-size-base;

    &:hover {
      background-color: $btn-danger-hover;
      box-shadow: $box-shadow-hover;
    }
  }

  .preview {
    margin-top: 1rem;

    img {
      max-width: 100%;
      max-height: 230px;
      border-radius: $border-radius;
      box-shadow: $box-shadow-base;
      border: 2px solid $stone-100;
    }
  }
}
