<div class="header-container">
  <h3>{{isEditMode ? 'Edit' : 'Add'}} Purchase</h3>
  <hr />
</div>

<div class="add-form">
  <form [formGroup]="addEditPurchaseForm" class="container" (ngSubmit)="onSubmit()">
    <section class="form-section">
      <!-- 🔹 Product Info -->
      <h6 class="section-form-header">purchase Info</h6>
      <div class="container section-form">
        <div class="row">

          <div class="col-md-3">
            <app-dropdowns label="supplier" formControlName="supplier" [options]="suppliers" optionLabel="name"
              optionValue="id" placeholder="Select supplier" [required]="true"></app-dropdowns>
          </div>
          <div class="col-md-1 mt-5 pt-2">
            <label class="opacity-0">btn </label>
            <p-button [routerLink]="[ '/contact/supplier/add' ]" size="small" class="add-btn white-icon-btn"
              [pTooltip]="tooltipContent" tooltipPosition="bottom" icon="pi pi-plus" />
            <ng-template #tooltipContent>
              <button class="flex items-center">
                Add Supplier
              </button>
            </ng-template>
          </div>
          <div class="col-md-4">
            <app-dropdowns label="branch" formControlName="branch" [options]="branches" optionLabel="name"
              [required]="true" optionValue="id" placeholder="Select branch"></app-dropdowns>
          </div>
          <div class="col-md-4">
            <app-dropdowns label="purchase type" formControlName="type"
              [options]="[{id:'fixed',name:'Fixed'},{id:'unfixed',name:'Unfixed'}]" optionLabel="name" optionValue="id"
              placeholder="Select purchase type"></app-dropdowns>
          </div>
          <div class="col-md-4">
            <app-input-date formControlName="order_date" inputName="order date" placeholder="Enter order date">
            </app-input-date>
          </div>
          <!-- <div class="col-md-4">
              <app-input-date formControlName="expected_delivery_date" inputName="expected delivery date"
                placeholder="Enter expected delivery date">
              </app-input-date>
            </div> -->
          <div class="col-md-4">
            <app-dropdowns label="status" formControlName="status" [options]="status" optionLabel="name"
              optionValue="id" placeholder="Select status"></app-dropdowns>
          </div>
          <div class="col-md-4">
            <app-input-text formControlName="reference_number" inputName="reference number"
              placeholder="Enter reference number">
            </app-input-text>
          </div>
          <div class="col-md-12">
            <label class="form-label">Attachment</label>
            <app-upload-input formControlName="attachment" label="Upload Docs" [disabled]="isEditMode"
              [showDelete]="!isEditMode"></app-upload-input>
          </div>
        </div>
      </div>
      <div class="table">
        <p-table [value]="purchases">
          <ng-template pTemplate="header">
            <tr>
              <th>Tag Number</th>
              <th>Name</th>
              <th>Designer</th>
              <th>Size</th>
              <th>Stones Number</th>
              <th>Category</th>
              <th>Color</th>
              <th>Metal Rate</th>
              <th>Metal Value</th>
              <th>Metal Weight</th>
              <th>Gross Weight</th>
              <th>Making Charge</th>
              <th>Retail Making Charge</th>
              <th>Tax Amount</th>
              <th>Purity</th>
              <th>Line Total Amount</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
              <td>{{ item.tag_number }}</td>
              <td>{{ item.name }}</td>
              <td>{{ getDesignerName(item.designer) }}</td>
              <td>{{ getSizeName(item.size) }}</td>
              <td>{{ item.stones.length }}</td>
              <td>{{ getCategoryName(item.category) }}</td>
              <td>{{ getColorName(item.color) }}</td>
              <td>{{ item.metal_rate }}</td>
              <td>{{ item.metal_value }}</td>
              <td>{{ item.metal_weight }}</td>
              <td>{{ item.gross_weight }}</td>
              <td>{{ item.making_charge }}</td>
              <td>{{ item.retail_making_charge }}</td>
              <td>{{ item.tax_amount }}</td>
              <td>{{ getPurityName(item.purity) }}</td>
              <td>{{ item.line_total_amount }}</td>
              <td class="d-flex g-1">
                <button class="edit-btn btn-sm mx-2" type="button" (click)="editPurchaseRow(item, i)">
                  <i class="pi" [ngClass]="{'pi-pencil': !isEditMode, 'pi-eye': isEditMode}"></i>
                </button>
                <button class="delete-btn btn-sm mx-2" type="button" (click)="purchases.splice(i, 1)"
                  *ngIf="!isEditMode">
                  <i class="pi pi-trash "></i>
                </button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td colspan="9" class="text-start fw-bold">Total:</td>
              <td colspan="4" class="fw-bold text-start">{{ getTotalGrossWeight() | number:'1.3-3' }}</td>
              <td colspan="2" class="fw-bold text-end">{{ getTotalLineAmount() | number:'1.3-3' }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <!-- 🔹Add row -->
      @if(manualGoldPrice) {
      <h6 class="section-form-header mt-4">Add Row</h6>
      <div class="container section-form">
        <div class="row">
          <div class="col-md-4">
            <app-input-text formControlName="name" inputName="name" placeholder="name">
            </app-input-text>
          </div>
          <div class="col-md-4">
            <app-input-text formControlName="tag_number" inputName="tag number" placeholder="tag number">
            </app-input-text>
          </div>
          <div class="col-md-4">
            <app-input-text formControlName="metal_rate" inputName="metal rate" placeholder="metal rate"
              [disabled]="true">
            </app-input-text>
          </div>
          <div class="col-md-4">
            <app-input-text formControlName="metal_value" inputName="metal value" placeholder="metal value"
              [disabled]="true">
            </app-input-text>
          </div>
          <div class="col-md-4">
            <app-input-text formControlName="metal_weight" inputName="metal weight" placeholder="metal weight">
            </app-input-text>
          </div>
          <div class="col-md-4">
            <app-dropdowns label="purity" formControlName="purity" [options]="purities" optionLabel="name"
              optionValue="id" placeholder="Select purity"></app-dropdowns>
          </div>
          <div class="col-md-4">
            <app-input-text type="number" formControlName="purity_rate" inputName="purity rate"
              placeholder="purity rate">
            </app-input-text>
          </div>
          <div class="col-md-4">
            <app-dropdowns label="category" formControlName="category" [options]="categories" optionLabel="name"
              optionValue="id" placeholder="Select category"></app-dropdowns>
          </div>
          <div class="col-md-4">
            <app-input-text type="number" formControlName="making_charge" inputName="making charge"
              placeholder="Enter making charge">
            </app-input-text>
          </div>
          <div class="col-md-4">
            <app-input-text type="number" formControlName="retail_making_charge" inputName="retail making charge"
              placeholder="Enter retail making charge">
            </app-input-text>
          </div>
          <div class="col-md-4">
            <app-dropdowns label="tax" formControlName="tax" [options]="taxRates" optionLabel="rate" optionValue="rate"
              (ngModelChange)="calculateTax()" placeholder="Select tax"></app-dropdowns>
          </div>
          <div class="col-md-4">
            <app-input-text type="number" formControlName="tax_amount" inputName="tax amount"
              placeholder="Enter tax amount">
            </app-input-text>
          </div>
          <div class="col-md-4">
            <app-input-text type="number" formControlName="gross_weight" inputName="gross weight">
            </app-input-text>
          </div>
          <div class="col-md-4">
            <app-input-text type="number" formControlName="line_total_amount" inputName="line total amount"
              placeholder="Enter line total amount">
            </app-input-text>
          </div>
          <div class="col-md-4">
            <app-dropdowns label="color" formControlName="color" [options]="colors" optionLabel="name" optionValue="id"
              placeholder="Select color"></app-dropdowns>
          </div>
          <div class="col-md-4">
            <app-dropdowns label="size" formControlName="size" [options]="sizes" optionLabel="name" optionValue="id"
              placeholder="Select size"></app-dropdowns>
          </div>
          <div class="col-md-4">
            <app-dropdowns label="designer" formControlName="designer" [options]="designers" optionLabel="name"
              optionValue="id" placeholder="Select designer"></app-dropdowns>
          </div>
          <div class="col-md-4">
            <app-dropdowns label="country" formControlName="country" [options]="countries" optionLabel="name"
              optionValue="id" placeholder="Select country"></app-dropdowns>
          </div>
          <div class="col-md-12">
            <app-input-text formControlName="description" inputName="description" placeholder="Enter description">
            </app-input-text>
          </div>
        </div>
      </div>

      <!-- 🔹 stones -->
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="section-form-header mt-4">stones</h6>
        <div class="header-btns" *ngIf="!isEditMode">
          <button class="add-btn" type="button" (click)="addStone()"><i class="pi pi-plus  px-2"></i></button>
        </div>
      </div>
      <div class="container section-form">
        <div formArrayName="stones">
          <div class="row mb-3" *ngFor="let stone of stonesArray.controls; let i = index" [formGroupName]="i">
            <div class="col-md-3">
              <app-dropdowns label="stone" formControlName="stone_id" [options]="stones" optionLabel="name"
                optionValue="id" placeholder="Select stone" [disabled]="isEditMode"></app-dropdowns>
            </div>
            <div class="col-md-3">
              <app-input-text type="number" formControlName="weight" inputName="Weight"
                placeholder="Enter weight"></app-input-text>
            </div>
            <div class="col-md-3">
              <app-input-text type="number" formControlName="value" inputName="Value"
                placeholder="Enter value"></app-input-text>
            </div>
            <div class="col-md-3 d-flex justify-content-between align-items-end">
              <app-input-text type="number" formControlName="retail_value" inputName="Retail Value"
                placeholder="Enter retail value"></app-input-text>
              <button class="delete-btn mx-3" type="button" (click)="removeStone(i)" *ngIf="!isEditMode"><i
                  class="pi pi-trash  px-2"></i></button>
            </div>
          </div>

        </div>
      </div>
      <div class="header-btns my-4" *ngIf="!isEditMode">
        <button class="add-btn" type="button" (click)="addPurchaseRow()"
          [disabled]="!this.addEditPurchaseForm.get('line_total_amount')?.value || !this.addEditPurchaseForm.get('name')?.value || !this.addEditPurchaseForm.get('category')?.value || !this.addEditPurchaseForm.get('purity')?.value"><i
            class="pi pi-plus  px-2">
          </i>Add Purchase Row</button>
      </div>

      <!-- 🔹 payment -->
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="section-form-header mt-4">Payment</h6>
        <div class="header-btns" *ngIf="!isEditMode">
          <button class="add-btn" type="button" (click)="addPayment()"><i class="pi pi-plus  px-2"></i></button>
        </div>
      </div>

      <div class="container section-form">
        <div formArrayName="payments">
          <div class="row mb-3" *ngFor="let payment of paymentsArray.controls; let i = index" [formGroupName]="i">
            <div class="col-md-6">
              <app-input-text formControlName="amount" inputName="Amount" placeholder="Enter Amount" type="number">
              </app-input-text>
            </div>
            <div class="col-md-6">
              <app-dropdowns label="Payment Method" formControlName="payment_method" [options]="paymentMethods"
                [disabled]="isEditMode" optionLabel="name" optionValue="id" placeholder="Select method">
              </app-dropdowns>
            </div>
            <div class="col-md-6">
              <app-input-text formControlName="gold_price" inputName="Gold Price" placeholder="Enter Gold Price"
                type="number">
              </app-input-text>
            </div>
            <div class="col-md-5">
              <app-input-date formControlName="payment_date" inputName="payment date" placeholder="Enter payment date">
              </app-input-date>
            </div>
            <div class="col-md-1 d-flex justify-content-end align-items-end mt-md-0 mt-2">
              <div class="col-md-6"></div>
              <button class=" delete-btn mx-3" type="button" (click)="removePayment(i)" *ngIf="!isEditMode"><i
                  class="pi pi-trash  px-2"></i></button>
            </div>
          </div>
        </div>
      </div>
      }
    </section>

    <div class="btns-group">
      <button type="submit" class="my-4 submit-btn"
        [disabled]="addEditPurchaseForm.invalid || !purchases || purchases.length === 0 || isPaymentEmpty()">{{isEditMode?
        'Update' : 'Submit'}}</button>
    </div>
  </form>
</div>
