<p-confirmdialog />

<section>
    <div class="header-container">
        <h3>Suppliers</h3>
        <hr>
        <div class="header-btns">
             <button class="add-btn text-center" (click)="fileInput.click()">
                <i class="pi pi-file-import px-2"></i>Import Customers
            </button>
            <input #fileInput type="file" accept=".csv" (change)="onFileSelected($event)" hidden />
            <button *ngIf="permissionService.hasPermission(71)" [routerLink]="['/contact/supplier/add']" class="add-btn text-center"><i class="pi pi-plus  px-2"></i>Add Supplier</button>
        </div>
    </div>
    <div class="filter-container container">
        <app-filter-collapse>
            <form class="container" [formGroup]="filterForm">
                <div class="row">
                    <div class="col-md-12">
                        <app-input-text formControlName="search" placeholder="Global Search" type="text" inputName="Search"></app-input-text>
                    </div>
                </div>
                <div class="btns-group">
                    <button class=" submit-btn" (click)="onSearch()">Search</button>
                </div>
                </form >
        </app-filter-collapse>
    </div>

    <div class="table-container">
        <app-data-table [contextMenuItems]="suppliersMenuItems"
        (rowSelected)="selectedProduct = $event" [data]="suppliers" [cols]="cols" [totalRecords]="totalRecords" [first]="first" [rows]="pageSize"
            (pageChange)="loadsuppliers($event)">
        </app-data-table>
    </div>
</section>