<ng-container #container></ng-container>
<div class="container-fluid">
  <div class="row">
    <p-tabs class="col-md-9" value="0">
      <p-tablist>
        <span><a href="#"><i class="pi pi-arrow-circle-left mx-4 h-100 text-center align-content-center"
              style="font-size: 1.5rem"></i></a></span>
        <p-tab value="0">Sales</p-tab>
        <p-tab value="1" [disabled]="!(selectedCurrency$ | async) || !(selectedCustomer$ | async)">Return</p-tab>
        <p-tab value="2" [disabled]="!(selectedCurrency$ | async) || !(selectedCustomer$ | async)">Purchase Old
          Gold</p-tab>
        <p-tab value="3" [disabled]="!(selectedCurrency$ | async) || !(selectedCustomer$ | async)">Repair</p-tab>
        <p-tab value="4" [disabled]="!(selectedCurrency$ | async) || !(selectedCustomer$ | async)">Gold Receipt</p-tab>
        <p-tab value="5" [disabled]="!(selectedCurrency$ | async)">Silver</p-tab>
        <p-tab value="6" [disabled]="!(selectedCurrency$ | async)">Diamond</p-tab>
        <div class="d-flex align-items-center gap-2" [ngClass]="{'ms-3': !isShiftActive}">
          @if (isShiftActive) {
          <button (click)="openShiftReport()" class="btn align-items-center" title="Shift Report">
            <i class="pi pi-receipt text-center align-content-center text-2xl mt-2"></i>
          </button>
          }
          <button [ngClass]="isShiftActive ? 'delete-btn' : 'submit-btn'" (click)="onRegisterClick()">
            <i [ngClass]="isShiftActive ? 'pi pi-lock' : 'pi pi-lock-open'" class="text-white px-2"></i>
            {{ isShiftActive ? 'Close Register' : 'Open Register' }}
          </button>
        </div>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <div class="row">
            <div class="col-md-12">
              <app-sales-pos></app-sales-pos>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel value="1">
          <div class="row">
            <div class="col-md-12">
              <app-retun-pos></app-retun-pos>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel value="2">
          <div class="row">
            <div class="col-md-12">
              <app-purchase-pos></app-purchase-pos>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel value="3">
          <div class="row">
            <div class="col-md-12">
              <app-repair-pos></app-repair-pos>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel value="4">
          <div class="row">
            <div class="col-md-12">
              <app-gold-receipt-pos></app-gold-receipt-pos>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel value="5">
          <div class="row">
            <div class="col-md-12">
              <app-silver></app-silver>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel value="6">
          <div class="row">
            <div class="col-md-12">
              <app-diamond></app-diamond>
            </div>
          </div>
        </p-tabpanel>
      </p-tabpanels>

    </p-tabs>
    <div class="col-md-3">
      <app-totals-pos></app-totals-pos>
    </div>
  </div>
</div>
