<p-confirmdialog />

<section>
    <div class="header-container">
        <h3>acc Ledger View</h3>
        <hr>
        <div class="header-btns">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <table class="table table-borderless">
                    <tr class="pt-1">
                        <th>Business Name</th>
                        <td>{{localAccData?.business}}</td>
                    </tr>
                    <tr class="pt-2">
                        <th>Name</th>
                        <td>{{localAccData?.name}}</td>
                    </tr>
                    <tr class="pt-2">
                        <th>Code</th>
                        <td>{{localAccData?.code}}</td>
                    </tr>
                    <tr class="pt-2">
                        <th>Opening Balance</th>
                        <td>{{localAccData?.opening_balance}}</td>
                    </tr>
                    <tr class="pt-2">
                        <th>Total Balance</th>
                        <td>{{localAccData?.total_balance}} BD</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-7">
                <div class="filter-container">
                    <app-filter-collapse>
                        <form class="container" [formGroup]="filterForm">
                            <div class="row">
                                <div class="col-md-12 d-flex w-100 flex-column">
                                    <label for="">Date Range</label>
                                    <p-datepicker [size]="'small'" formControlName="date_range" selectionMode="range"
                                        [readonlyInput]="false" />
                                </div>
                                
                                <div class="col-md-6">
                                    <app-dropdowns label="Select Parent Account" id="parentAccount"
                                        formControlName="account" [options]="accounts" optionLabel="name"
                                        optionValue="id" placeholder="Select a Parent Account">
                                    </app-dropdowns>
                                </div>
                                <div class="col-md-6">
                                    <app-dropdowns label="Select Bransh" id="branch"
                                        formControlName="branch" [options]="branches" optionLabel="name"
                                        optionValue="id" placeholder="Select a Bransh">
                                    </app-dropdowns>
                                </div>
                            </div>
                            <div class="btns-group">
                                <button class=" submit-btn" (click)="onSearch()">Search</button>
                            </div>
                        </form>
                    </app-filter-collapse>
                </div>
            </div>

        </div>
    </div>
    <div class="table-container">
        <app-data-table [hasContext]="false" [paginator]="false" [data]="ledgers" [cols]="cols"
             (pageChange)="loadLedgers($event)">
        </app-data-table>
    </div>
</section>